:root {
  --color-primary: #000;
  --color-secondary: #999;
  --color-tertiary: #eee;
  --color-quaternary: #ddd;
  --color-error: #E61919;
  --color-success: #248F24;
  --color-warn: #B37700;
  --font-family: "Space Grotesk", sans-serif;
  --font-family-mono: "Space Mono", monospace;
  --border-radius: 4px;
}

.c-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background: #fff;
  padding: 8px 16px;
}

.c-app__diff {
  width: 33.33%;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: var(--font-family-mono);

  &.c-app__diff--created {
    color: var(--color-success);
  }

  &.c-app__diff--changed {
    color: var(--color-warn);
  }

  &.c-app__diff--deleted {
    color: var(--color-error);
  }
}