.c-control {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 12px 0;
  margin-bottom: 4px;
}

.c-control__label {
  font-family: var(--font-family);
  line-height: 16px;
  font-size: 12px;
  font-weight: 800;
  padding: 4px;
  margin: 0 8px;
  background: white;
  position: absolute;
  transform: translateY(-64%);
}

.c-control__input {
  font-family: var(--font-family);
  box-shadow: 0 0 0 1px var(--color-secondary);
  line-height: 16px;
  font-size: 12px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 12px;
  color: var(--color-primary);

  &:hover {
    box-shadow: 0 0 0 1px var(--color-primary);
  }

  &:is(select) {
    cursor: pointer;
  }
}